.settings/
target/
bin/
.classpath
.project
.DS_Store
.idea
*.iml
src/main/resources/jdbc.properties
src/main/resources/hibernate.properties
src/main/webapp/META-INF/context.xml
src/main/java/com/depthspace/utils/Config.java
