.changetext {
    text-align: center;
}

@media (min-width: 992px) {
    .collapse {
        display: flex;
        justify-content: flex-end;
    }
}

nav a {
    color: #ddd;
    letter-spacing: 1px;
    padding: 5px 13px;
    vertical-align: middle;
    font-size: 15px;
}

body a {
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
}

nav a.booking {
    border-radius: 30px;
    background: #A6BAAF;
    padding: 10px 25px;
    display: block;
    margin-top: -7px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1px;
    font-size: 14px;
}

header {
    position: absolute;
    z-index: 9;
    width: 100%;
}

.about-right img.abt-image {
    border-radius: 6%;
    width: 100%;
}

.book {
    background: #09777d;
}

.footer_w3layouts_section_1its {
    background: #151515;
}

.footer_w3layouts_section_1its h3,
.footer_w3layouts_section_1its h2 {
    font-size: 1.3em;
    color: #eee;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

ul.social_section_1info a {
    margin-right: 10px;
    font-size: 13.5px;
    margin-right: 2px;
    width: 35px;
    height: 35px;
    display: block;
    text-align: center;
    line-height: 35px;
    letter-spacing: 1px;
}

.footer p,
.footer a {
    color: #707070;
    margin: 5px 0;
}

body img {
    max-width: 100%;
}

img,
svg {
    vertical-align: middle;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}

user agent stylesheet img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

ul.social_section_1info a {
    margin-right: 10px;
    font-size: 13.5px;
    margin-right: 2px;
    width: 35px;
    height: 35px;
    display: block;
    text-align: center;
    line-height: 35px;
    letter-spacing: 1px;
}

@media (max-width: 1080px) {

    .footer p,
    .footer a {
        font-size: 14px;
    }
}

.footer p,
.footer a {
    color: #707070;
    margin: 5px 0;
}

body a {
    text-decoration: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    /* font-family: "Open Sans", sans-serif; */
}

.copyright {
    background: #222;
}

p {
    margin: 0;
    font-size: 15px;
    line-height: 1.8em;
    letter-spacing: 1px;
    color: #707579;
    font-family: "Open Sans", sans-serif;
}

.grid-info p {
    color: #ddd;
}

@media (max-width: 991px) {
    .navbar-toggler {
        display: block;
        font-size: 20px;
        text-decoration: none;
        border: none;
        float: right;
        color: transparent;
    }
}

.icon {
    background: #fff;
    width: 80px;
    height: 80px;
    line-height: 80px;
    margin: 0em auto 1.5em;
    border-radius: 50%;
}

a.btn {
    border: 2px solid #fff;
    border-radius: 0px;
    padding: 11px 30px;
    color: #fff;
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: capitalize;
    transition: all 0.5s ease;
    /* font-family: "Raleway", sans-serif; */
}

.carousel-caption {
    top: 50%;
    transform: translateY(-30%);
}

.picfak {
    filter: brightness(0.7);
    opacity: 0.8;
    width: 100%;   /* 讓圖片寬度隨著容器的大小改變 */
    max-width: 1600px; /* 最大寬度為1200px */
    height: 700px;  /* 高度自動調整以保持圖片比例 */
}

/* 小於768px寬的裝置 */
@media (max-width: 768px) {
    .picfak {
        max-width: 100%; /* 在小裝置上，圖片最大寬度為容器的100% */
        height: auto; /* 高度自動調整 */
    }
}

/* 更小的裝置，如手機 */
@media (max-width: 480px) {
    .picfak {
        max-width: 100%; /* 在更小的裝置上，圖片最大寬度為容器的100% */
        height: auto; /* 高度自動調整 */
    }
}

.banner-inner_overlay_pic {
    filter: brightness(0.9);
    max-height: 200px;
    width: auto;
    /* 保持原始宽高比 */
    display: block;
    /* 确保图像是块级元素，以便设置最大高度有效 */
    margin: 0 auto;
    /* 如果需要居中图像 */
    overflow: hidden;
    /* 超过最大高度时隐藏内容 */
}


@media ( min-width : 991px) {
	.nav-link {
		/* 移除Bootstrap樣式 */
		display: initial; /* 移除display屬性 */
		padding: initial; /* 移除padding屬性 */
		color: #ddd !important; /* 移除color屬性 */
	}
	
		/* 調整下拉選單的基本樣式 */
	.navbar-nav .dropdown-menu {
	    border: none; /* 移除邊框 */
	}
	
	/* 調整下拉選單項目的樣式 */
	.navbar-nav .dropdown-menu .dropdown-item {
	    color:#000000; /* 設置文字顏色 */
	    padding: 8px 15px; /* 設置內部間距 */
	}
	
	/* 下拉選單的動畫效果 */
	.dropdown-menu {
	    display: none; /* 初始不顯示 */
	    opacity: 0;
	    transition: opacity 0.5s ease; /* 平滑過渡效果 */
	}
	
	.dropdown:hover .dropdown-menu {
	    display: block; /* 懸停時顯示 */
	    opacity: 1;
	}
}


@media (max-width: 991px){
    .menu{
        background: #ffffff; /* 淺灰色背景 */
        text-align: left; /* 新增的行，確保文字對齊到左邊 */
    }
    .nav-link, nav a{
    	padding: 0;
        color: black !important; /* 確保所有連結文字顏色為黑色 */
        text-align: left !important; /* 確保文字對齊到左邊 */
    }
    .menu li{
        display: block; /* 或者 'inline-block', 根據您的具體需求 */
        text-align: left; /* 新增的行，確保列表項目文字對齊到左邊 */
       	margin-bottom: 5px;
    }
    .navbar-nav .dropdown-menu {
	    border: none; /* 移除邊框 */
	    background: #ddd;
	}
		.dropdown-menu[data-bs-popper] {
	    margin-top: 0.4rem;
	}
	nav a.booking {
    display: inline-block;
	}
}

.nav-link:hover {
    color: #ddd;
}

/* 這樣會限制樣式只影響導航列(navbar)內的所有<a>標籤 */
.navbar a:hover {
    color: #ddd;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

ul.social_section_1info {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    padding: 0;
}

ul.social_section_1info li {
    margin-right: 30px; /* 設定圖標間隔為 10px */
}

ul.social_section_1info li:last-child {
    margin-right: 0; /* 最後一個圖標不需要間隔 */
}

.social_section_1info img {
    height: 100px; /* 調整圖片高度 */
}

.nav-link {
    display: initial !important;
}
