<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
         
    <welcome-file-list>
<!--		<welcome-file>account/index.jsp</welcome-file>-->
        <welcome-file>tsc/index</welcome-file>
<!--		<welcome-file>indexpage/test2.jsp</welcome-file>-->
        <welcome-file>account/list.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
		<welcome-file>index.xhtml</welcome-file>
		<welcome-file>index.htm?"?</welcome-file>
		<welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
    
   	<servlet>
		<servlet-name>AccountServlet</servlet-name>
		<servlet-class>com.depthspace.account.model.account.controller.AccountServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccountServlet</servlet-name>
		<url-pattern>/account/account.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AccountItemServlet</servlet-name>
		<servlet-class>com.depthspace.account.model.accountitem.controller.AccountItemServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccountItemServlet</servlet-name>
		<url-pattern>/accountItem.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ForumArticlesServlet</servlet-name>
		<servlet-class>com.depthspace.forum.model.forumarticles.controller.ForumArticlesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ForumArticlesServlet</servlet-name>
		<url-pattern>/forumArticles.do</url-pattern>
	</servlet-mapping>

	<listener>
		<listener-class>com.depthspace.listener.InitializerListener</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>FaqServlet</servlet-name>
		<servlet-class>com.depthspace.faq.model.controller.FaqServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>FaqServlet</servlet-name>
		<url-pattern>/faq/faq.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>FaqTypesServlet</servlet-name>
		<servlet-class>com.depthspace.faqtypes.model.controller.FaqTypesServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>FaqTypesServlet</servlet-name>
		<url-pattern>/faqtypes/faqTypes.do</url-pattern>
	</servlet-mapping>
	
	<filter>
		<filter-name>LoginFilter</filter-name>
		<filter-class>com.depthspace.admin.filter.LoginFilter</filter-class>
	</filter>
<!-- 	<filter-mapping> -->
<!-- 		<filter-name>LoginFilter</filter-name> -->
<!-- 		<url-pattern>/admin/*</url-pattern> -->
<!-- 		<url-pattern>/backstage/index.jsp</url-pattern> -->
<!-- 		<dispatcher>REQUEST</dispatcher> -->
<!-- 		<dispatcher>FORWARD</dispatcher> -->
<!-- 		<dispatcher>INCLUDE</dispatcher> -->
<!-- 		<dispatcher>ERROR</dispatcher> -->
<!-- 		<dispatcher>ASYNC</dispatcher> -->
<!-- 	</filter-mapping> -->

</web-app>